  <!-- footer -->
  <!-- row -->
  <footer class="row">

    <!-- col -->
    <div class="col col-12">

      <!-- bootstrap background -->
      <div class="p-3 mb-2 bg-dark text-white" id="footerbox">

        <!-- footer text -->
        <h1 class="footertext">©Copyright 2020 Sean Kirkpatrick</h1>
      </div>
    </div>
  </footer>