      <!-- about me -->
      <div class="card body" id="aboutme">

        <!-- card header -->
        <div class="card-header">
          <h1 class="card-title">About Me!</h1>
        </div>

        <!-- card body -->
        <div class="card-body container-fluid">

          <!-- sub row img and txt-->
          <div class="row">
            <div class="col-lg-6">
              <img src="assets/profilePhoto.JPG" alt="Profile Picture" class="card" id="mainimage">
            </div>
            <div class="col-lg-6" id="aboutmetxtbox">
              <p class="card-text" id="aboutmetxt">My name is Sean Kirkpatrick. I currently work for Apple and am
                training to be a full stack web developer. I graduated from Marist College with a B.S. in Business
                Administration with an Emphasis in Marketing in 2015. Since then, I have worked as both a consumer
                electronic sales associate as well as a supervisor. I have
                over five plus years of expirence using and
                troubleshooting mobile devices such as cell phones and computers. I am proficent with many different
                operating systems such as Android, iOS, MacOS, and
                Windows, since I use them daily.</p>
              <br>
              <p class="card-text" id="aboutmetxt">During my free time I enjoy watching movies and traveling to new
                places. I am also an avid snowboarder and take many trips to different mountains in the winter. My
                girlfriend and I love to cook different kinds of foods and we post a lot of the photos to our Instagram
                page @CookinCouples. I also enjoy keeping up with the latest tech as well as the companies that make
                them and the current market conditions.</p>
                <br>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px; margin-top: 15px">
              <div class="col-lg-6" id="contactinfo">
                <h5>Contact:</h5>
                    <h6>Phone#: (914)-960-1784</h6>
                    <h6>Email: Skirkp18@gmail.com</h6>
              </div>
                <div class="col-lg-6" style="text-align: center;">
                  <button class="btn btn-success" id="resumebtn" value="resume">Click Here For My Resume</button>
                </div>
            </div>

          <!-- sub row education and skills-->
          <div class="row" style="margin: 15px;">
            <div class="col-lg-4 lists card">
              <h4>Education:</h4>
              <ul>
                <li>Marist College</li>
                <li>Columbia School of Engineering</li>
              </ul>
              <h4>Degress and Certifications:</h4>
              <ul>
                <li>B.S. In Business Administration With A Marketing Emphasis</li>
                <li>Full Stack Web Develoupment Certification</li>
              </ul>
            </div>
            <div class="col-lg-4 lists card">
              <h4>Skills:</h4>
              <ul>
                <li>Leadership</li>
                <li>Customer Service</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>BootStrap by Twitter</li>
                <li>Javascript</li>
                <li>JQuery</li>
              </ul>
            </div>
            <div class="col-lg-4 lists card">
              <h4>Expirence:</h4>
              <ul>
                <li>Specalist - Apple Inc. (Current)</li>
                <li>Mobile Supervisor - Best Buy (Date)</li>
                <li>Verzion Mobile Specalist - Best Buy (Date)</li>
                <li>Apple Master - Best Buy (Date)</li>
              </ul>
              <h4>Achievements:</h4>
              <ul>
                <li>Best Buy Achievers Contest 2018</li>
                <li>Dean's List</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>