      <!-- link card -->
      <div class="card body" id="linkcard">

        <!-- card header -->
        <div class="card-header">
          <h1 class="card-title">Find Me @</h1>
        </div>

        <!-- sub grid -->
        <div class="container-fluid card-body">

          <!-- row 1 (github) -->
          <div class="row card social">
            <div class="col-12 container-fluid">
              <!-- subrow -->
              <div class="row" style="height: 100%;">
                <div class="col-3 card imgcard">
                  <img src="https://miro.medium.com/max/719/0*9f5uMrKMjLbzEf7q.png" alt="GitHub" class="socialImg">
                </div>
                <div class="col-8 btncard">
                  <button class="btn btn-dark linkbtn" value="github">
                    <h4>GitHub</h4>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- row 2 (linkedin) -->
          <div class="row card social">
            <div class="col-12 container-fluid">
              <!-- sub row -->
              <div class="row" style="height: 100%;">
                <div class="col-3 card imgcard">
                  <img src="https://logos-world.net/wp-content/uploads/2020/04/Linkedin-Logo-2003%E2%80%932011.png"
                    alt="LinkedIn" class="socialImg">
                </div>
                <div class="col-8 btncard">
                  <button class="btn btn-primary linkbtn" value="linkedin">
                    <h4>LinkedIn</h4>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- row 3 (twitter) -->
          <div class="row  card social">
            <div class="col-12 container-fluid">
              <!-- sub row -->
              <div class="row" style="height: 100%;">
                <div class="col-3 card imgcard">
                  <img src="https://pngimg.com/uploads/twitter/twitter_PNG31.png" alt="Twitter" class="socialImg">
                </div>
                <div class="col-8 btncard">
                  <button class="btn btn-info linkbtn" value="twitter">
                    <h4>Twitter</h4>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>