        <!-- card -->
        <div class="card body col"  id="projectsCard">
          <div class="card-header">
            <h1 class="card-title">Projects</h1>
          </div>

          <!-- colomn -->
          <div class="col" id="box">

            <!-- subgrid -->
            <div class="container" id="projectsbox">

              <!-- sub row -->
              <div class="row applink">

                <!-- sub colomn -->
                  <div class="col col-lg-3 projectLink">
                    <a href="https://github.com/Skirkp18/live_portfolio" target="_blank"><img src="assets/live_portfolio.png" alt="Live Portfolio" 
                      class="portfolioimage mx-auto d-block" id="liveportfolioimg"></a>
                      <a href="https://github.com/Skirkp18/live_portfolio" target="_blank"><h2 class="card-text portfoliotxt">This Portfolio</h2></a>
                      <a href="https://github.com/Skirkp18/live_portfolio" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                  </div>
                
                <!-- sub colomn -->

                <div class="col col-lg-3 projectLink">
                  <a href="https://skirkp18.github.io/Weather_Dashboard/" target="_blank"><img src="assets/Weather_Dashboard_V1.0.jpg" alt="Weather Dashboard" 
                    class="portfolioimage mx-auto d-block" id="weatherdashboard"></a>
                    <a href="https://skirkp18.github.io/Weather_Dashboard/" target="_blank"><h2 class="card-text portfoliotxt">Weather Dashboard</h2></a>
                    <a href="https://github.com/Skirkp18/Weather_Dashboard" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                </div>
                  <!-- sub colomn -->
                <div class="col col-lg-3 projectLink">
                  <a href="https://nicschworer.github.io/JASN_Project_01/" target="_blank"><img src="assets/Qchef Screenshot.jpg" alt="QChef (Project One)" 
                    class="portfolioimage mx-auto d-block" id="qchefimg"></a>
                    <a href="https://nicschworer.github.io/JASN_Project_01/" target="_blank"><h2 class="card-text portfoliotxt">QChef (Project One)</h2></a>
                    <a href="https://github.com/nicschworer/JASN_Project_01" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                </div>
              </div>

              <!-- sub row -->
              <div class="row applink">

                <!-- sub colomn -->

                <div class="col col-lg-3 projectLink">
                  <a href="https://github.com/Skirkp18/Employee_Database_Manager" target="_blank"><img src="assets/Employee-Database-Manager.gif" alt="Employee Database Manager" 
                    class="portfolioimage mx-auto d-block" id="employeedatabaseimg"></a>
                    <a href="https://github.com/Skirkp18/Employee_Database_Manager" target="_blank"></a><h2 class="card-text portfoliotxt">Employee Database Manager</h2></a>
                    <a href="https://github.com/Skirkp18/Employee_Database_Manager" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                </div>

                <!-- sub colomn -->
                  <div class="col col-lg-3 projectLink">
                    <a href="https://github.com/Skirkp18/Template-Engine---Employee-Summary" target="_blank"><img src="assets/TemplateEngine---EmployeeSummary.gif" alt="Template Engine - Employee Summary" 
                      class="portfolioimage mx-auto d-block" id="employeesummaryimg"></a>
                      <a href="https://github.com/Skirkp18/Template-Engine---Employee-Summary" target="_blank"><h2 class="card-text portfoliotxt">Template Engine - Employee Summary</h2></a>
                      <a href="https://github.com/Skirkp18/Template-Engine---Employee-Summary" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                  </div>

                  <!-- sub colomn -->
                  <div class="col col-lg-3 projectLink">
                    <a href="https://github.com/Skirkp18/Read_Me_Generator" target="_blank"><img src="assets/Read_Me_Generator.gif" alt="Read Me Generator" 
                      class="portfolioimage mx-auto d-block" id="readmegeneratorimg"></a>
                      <a href="https://github.com/Skirkp18/Read_Me_Generator" target="_blank"><h2 class="card-text portfoliotxt">Read Me Generator</h2></a>
                      <a href="https://github.com/Skirkp18/Read_Me_Generator" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                  </div>
              </div>

              <!-- sub row -->
              <div class="row applink">

                <!-- sub colomn -->
                <div class="col col-lg-3 projectLink">
                  <a href="https://skirkp18.github.io/Code_Quiz/" target="_blank"><img src="assets/coding_quiz_app.jpg" alt="Coding Quiz" 
                    class="portfolioimage mx-auto d-block" id="codingquizimg"></a>
                    <a href="https://skirkp18.github.io/Code_Quiz/" target="_blank"><h2 class="card-text portfoliotxt">Coding Quiz</h2></a>
                    <a href="https://github.com/Skirkp18/Code_Quiz" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                  </div>
                  <!-- sub colomn -->
                  <div class="col col-lg-3 projectLink">
                    <a href="https://skirkp18.github.io/Work_Day_Scheduler/" target="_blank"><img src="assets/Workday Schedule App.jpg" alt="Workday Scheduler" 
                      class="portfolioimage mx-auto d-block" id="workdayschedulerimg"></a>
                      <a href="https://skirkp18.github.io/Work_Day_Scheduler/" target="_blank"><h2 class="card-text portfoliotxt">Workday Scheduler</h2></a>
                      <a href="https://github.com/Skirkp18/Work_Day_Scheduler" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                  </div>
                  <!-- sub colomn -->
                <div class="col col-lg-3 projectLink">
                  <a href="https://skirkp18.github.io/password_generator/" target="_blank"><img src="assets/passwordgenerator.jpg" alt="Password Generator App" 
                    class="portfolioimage mx-auto d-block" id="passwordgeneratorimg"></a>
                    <a href="https://skirkp18.github.io/password_generator/" target="_blank"><h2 class="card-text portfoliotxt">Password Generator</h2></a>
                    <a href="https://github.com/Skirkp18/password_generator" target="_blank"><h2 class="card-text portfoliotxt">GitHub Repo</h2></a>
                </div>
              </div>
            </div>
          </div>
        </div>