      <!-- Random Fact Card -->
      <div class="card body" id="randomFactCard">

        <!-- card header -->
        <div class="card-header" style="text-align: center;">
          <h1 class="card-title">Your Current Weather!</h1>
        </div>
        <!-- weather -->
        <div class="row">
          <div class="col-12" id="weatherbox">
          </div>
        </div>
      </div>