{{> navbar}}

<!-- grid -->
<div class="container-fluid" id="mainbody">

  <!-- row -->
  <article class="row">


    <!-- colomn 1 main body -->
    <div class="col-lg-8">

      {{> info}}


    <!-- colomn 2 sidebar -->
    <div class="col-lg-4" id="sidebar">

      {{> links}}

      {{> weather}}

    </div>
  </article>

{{> footer}}

</div>