{{> navbar}}

  <!-- main portfolio -->

  <!-- body -->

  <!-- grid -->
  <div class="container-fluid" id="mainbody">

    <!-- row -->
    <section class="row">

      <!-- colomn -->
      <div class="col col-lg">

          {{> projectscard}}
      </div>
    </section>






        {{> footer}}
  </div>