{{> navbar}}

  <!-- main portfolio -->

  <!-- body -->

  <!-- grid -->
  <div class="container-fluid" id="mainbody">

    <!-- row -->
    <section class="row">
      <!-- colomn -->
          {{> projectscard}}

    </section>

        {{> footer}}

  </div>